@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap");


.chat{
  display: flex;

}

.allChats {
  margin: 50px 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  max-width: 30vw;
  /* border-right: 1px solid rgb(89, 89, 89); */
}

.singleChat {
  width: 70vw;
  background-color: #292929;
  height: 85vh;
  position: fixed;
  top: 60px;
  right: 0;
  margin-right: 10px;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noMessage h1{
  font-family: "Playwrite US Trad", cursive;
  font-size: 32px;
  font-weight: 400;
  color: #b4b4b4;
  text-align: center;
}

.noMessage p{
  font-size: 12px;
  color: #c2c2c2;
  position: relative;
  top: -20px;
  letter-spacing: 0.5px;
}

.allChats h2 {
  font-size: 28px;
  font-weight: 500;
}

.conversation {
  border: 1px solid #383838;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0px;
  cursor: pointer;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.conversation:hover {
  background-color: #383838;
}

.conversation h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.conversation p {
  margin: 5px 0 0 0;
  color: #dddddd;
  font-size: 14px;
}

.allChatsImage {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  align-self: center;
}

.chatsSec {
  margin-left: 10px;
}

.chatLeftSec {
  display: flex;
}

.chatRight p {
    margin: 12px 0px;
  color: #1daa61;
}

.messageHeader{
  background-color: #10492c;
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 0px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.messageHeaderLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 0px 10px;
}

.messageHeaderLeftName{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}

.messageHeaderLeftName h3{
  font-size: 20px;
  position: relative;
  top: 10px;
  font-weight: 400;
}

.messageHeaderLeftName p{
  font-size: 12px;
  position: relative;
  top: -18px;
  color: #e1e1e1;
}

.messageHeaderLeft img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.messageChats{
  /* background-color: thistle; */
  max-height: 68vh;
  position: absolute;
  top: 77.5px;
  width: 100%;
  overflow-y: auto;
}

.messageChats p{
  margin: 10px;
  padding: 10px;
  background-color: #18442e;
  width: 20vw;
  border-radius: 0px 100px 100px 100px;
  height: 40px;
  font-size: 14px;
}

.messageInput{
  height: 7vh;
  background-color: #10492c;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.messageInput input{
  width: 70%;
  height: 30px;
  border-radius: 10px;
  border: 0.5px solid rgb(115, 115, 115);
  padding: 0px 5px;
}

