@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap");

.header {
  height: 50px;
  width: 100%;
  background-color: #272727;
  color: #1daa61;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 20px;
}

.headerBtn {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.header h1 {
  font-family: "Playwrite US Trad", cursive;
  font-size: 24px;
  font-weight: 400;
}

.headerBtn h3{
    font-size: 14px;
    font-weight: 400;
    color: #1daa61;
}

.headerBtn button {
  margin: 0px 0px 0px 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgb(213, 0, 0);
  font-size: 14px;
}

.headerBtn button:hover {
  background-color: rgb(170, 2, 2);
}

.headerImg{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1.5px solid #1daa61;
}