@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap");

#loginHeading {
  font-family: "Playwrite US Trad", cursive;
  font-size: 24px;
  font-weight: 400;
  color: #1daa61;
}

.login h1 {
  font-weight: 400;
  margin-left: 20px;
}

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #272727;
  width: auto;
  padding: 10px 20px 50px 20px;
  margin-top: 50px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.263);
}

.login form h2{
    align-self: center;
    font-size: 20px;
    font-weight: 500;
}

.loginInput {
  display: flex;
  flex-direction: column;
}

.loginInput input {
  width: 20vw;
  font-size: 12px;
  padding: 10px 5px;
  margin-top: 5px;
  border-radius: 4px;
  border: none;
}

.loginInput button {
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 20vw;
  padding: 10px 5px;
  margin-top: 5px;
  border-radius: 4px;
  border: none;
}

#logSubmitBtn {
  background-color: #b80f0f;
}

#logCreatedBtn{
    background-color: green;
}

#logSubmitBtn:hover {
  background-color: #9f0f0f;
}

#logCreatedBtn:hover {
    background-color: rgb(5, 102, 5);
  }

#or {
  align-self: center;
  font-size: 12px;
}
